<div class="grid_12 alpha omega blue box" id="about-us">
<h1>About Us</h1>
<p>Boston Volunteers is one of Boston's most popular nonprofits. Founded the day after Christmas in 2008, the Boston Volunteer is growing rapidly.</p> 

<p>The Boston Volunteers is a great opportunity for anyone interested in volunteering at any time.</p>

<h1 class="">What makes the Boston Volunteers different?</h1>
<br />
<section id="about-special" class="bottom-padding">
	<ul>
		<li><h2>There's No commitment.</h2> 
		Join our meetup and feel free to attend as many or as few events as works for you.</li>
		<li><h2>There's no hassle.</h2> 
		Boston Volunteers handles all the organization and logistics of volunteering so you can focus on helping.</li> 
		<li>
		<h2>The focus is on helping.</h2>
		You choose whether you want to lead or just participate.<br />
		You decide when there a Boston Volunteer event you want to promote.<br />
		With no hassle, no commitment volunteer opportunities in your community on almost every day of the week, Boston Volunteers celebrates easy and convenient volunteer opportunities for you. 
		</li>
		<li><h2>It's great way to be a part of and broaden your community and social network!</h2>
		After most events we enjoy popular local restaurants - You will meet interesting new people who share your values<br /> 
		You will discover lots of popular local restaurants. After most events most of us will connect on Facebook and/or LinkedIn.</li>
	<ul>
</section>
<br />
<h1>The Boston Volunteers</h1>
<h2>Big enough to Deliver, small enough to care</h2>
Learn more: www.BostonVolunteer.org
</div>