<div class="grid_12 alpha omega blue box" id="about-us">
	<div class="extra-padding">	
		
		<nav class="sub-page-nav">
			<a href="#about" class="action-button yellow">ABOUT</a>
			<a href="#history" class="action-button yellowx">HISTORY</a>
			<a href="#contact-form" class="action-button yellow">CONTACT US</a>
		</nav>
		
		<section id="about">
			<h1>About Us</h1>
			<p>Boston Volunteers is one of Boston's most popular nonprofits. Founded the day after Christmas in 2008, the Boston Volunteer is growing rapidly.</p> 

			<p>The Boston Volunteers is a great opportunity for anyone interested in volunteering at any time.</p>
			<br />
			<h1 class="">What makes the Boston Volunteers different?</h1>
			<section id="about-special" class="bottom-padding">
				<ul>
					<li><h2>There's No commitment.</h2> 
					Join our meetup and feel free to attend as many or as few events as works for you.</li>
					<li><h2>There's no hassle.</h2> 
					Boston Volunteers handles all the organization and logistics of volunteering so you can focus on helping.</li> 
					<li>
					<h2>The focus is on helping.</h2>
					You choose whether you want to lead or just participate.<br />
					You decide when there a Boston Volunteer event you want to promote.<br />
					With no hassle, no commitment volunteer opportunities in your community on almost every day of the week, Boston Volunteers celebrates easy and convenient volunteer opportunities for you. 
					</li>
					<li><h2>It's great way to be a part of and broaden your community and social network!</h2>
					After most events we enjoy popular local restaurants - You will meet interesting new people who share your values<br /> 
					You will discover lots of popular local restaurants. After most events most of us will connect on Facebook and/or LinkedIn.</li>
				<ul>
			</section>
			<br />
			<h1>The Boston Volunteers</h1>
			<h2>Big enough to Deliver, small enough to care</h2>
			Learn more: www.BostonVolunteer.org
		</section>
		
		<div class="clearfix bottom-padding"></div>
		
		<section id="history">
			<h1>History</h1>
			<p>Revised 4/25/12</p>
      <p>
      It was December 26, 2008, the day after Christmas, and I was living in Providence. Thinking back to childhood visits to Boston, I recalled that palpable sense of awe as I stood in the shadows of the giant gleaming skyscrapers, learned about Harvard and MIT, and soaked in the fervent passion of fellow Red Sox fans. “That’s it,” I said to myself, “I’m moving to Boston.”
    </p>
     <p> Once there, I sought to find an outlet to share my gifts and talents with the larger community. “Shouldn’t be too difficult,” I figured. “It’s a city after all.” Yet in a short span of time, I discovered that few volunteer opportunities existed and the ones that did conflicted with my very busy schedule.
</p>
     <p> “What if I could create a group that allowed busy people to plug into service opportunities in such a way that it simply required them to show up and help? And what if this no hassle, no commitment approach also connected like-minded folks together to meet, support each other, and work side by side? </p>

     <p> Mustering up some courage, I told a friend about my idea. She laughed, deemed it crazy, and thought it all very unnecessary. At this point, however, my can-do spirit couldn’t be stifled. The next daywww.BostonVolunteer.org went live. “No sense waiting until the New Year,” I figured. “Decide and do.” 
</p>
      <p>I was unprepared for what happened next. Sure, I’d invited people to our first Meetup, but I had no idea if anyone would come. After arriving at the Coolidge Corner Panera, I found a nice spot by the window, off to the side. I nervously pulled a few chairs around my table and waited, hoping a few folks would show up. Thankfully, a few did show up. Then a few more arrived. And then a few more. In a matter of minutes, almost 50 people crowded into the front room. The poor managers had a fit!
</p>
      <p>Being shy, timid, and never wanting drawing attention to myself, we had created quite a scene! Here I was, surrounded by a mob of people looking to me for direction! These folks – most who were older than I - were energized and ready to do something. With no plan, I said the only I could think of: “Let’s introduce ourselves and get to know each other!”
</p>
     <p> One by one, people shared powerful stories of making a difference in other peoples’ lives. “You need to discover how it feels,” said a young woman named Monica. “That’s what I tell my friends who have never volunteered.” And that is what Monica did with group after group that she led for us. She created an outlet to help people discover and experience the joy and profound meaning that comes from helping other people. In the last four years I have had the pleasure of meeting many people just like her.
</p><p>
      That night, as I made my way home, I tried to come to grips with what had just happened. “Maybe it’s not so much that we are creating something groundbreaking,” I wondered, “and more that just we are tapping into a deeply felt need and removing the obstacles that usually prevent things from happening.”
</p>
      <p>Having organized and run over 500 volunteer events, we have learned a lot. With almost 4000 people standing ready to volunteer, we now have need for a larger support system if we are going to take full advantage of the energy, desire and willingness our volunteers exhibit. Sure, we have come a long way from that first Meetup at Panera almost four years ago, but we have never once veered from the original mission. With a newly gathered Board of Directors, drawn from a variety of local communities and committed to furthering what has been started, we will be better able to harness this opportunity and help even more people in need.
</p>
      <p>I have always believed in better. That’s just how I am. And if you do too, then I invite you to join me in making the ‘better’ happen. “Decide and do,” is what I told myself that day, and I am glad I did. Let’s join together and work to make ‘better’ a reality for those who need it most. Thanks for your support.</p>
      <h2 class="right">- Josh Konoff, Boston Volunteers Entrepreneur</h2>
      <div class="clearfix"></div>
      <ul>
       <li>The Boston Volunteers</li>
        <li>Big enough to deliver, small enough to care</li>
        <li>Learn more: www.BostonVolunteer.org</li>
      </ul>
      <ul>
         <li><h2><a href="https://www.facebook.com/BostonVolunteers" target="_blank">facebook</a> | <a href="http://www.meetup.com/The-Boston-Volunteer-Meetup-Who-else-likes-to-help-others/" target="_blank">meetup</a> | <a href="https://twitter.com/#!/BostonVolunteer" target="_blank">twitter</a></h2></li>
      </ul>
		</section>
		
		<div class="clearfix bottom-padding"></div>
		
		<section id="contact-form">
			<h1>Contact Us</h1>
			<% @message = Message.new %>
			<%= render :partial => 'contact/new', :locals => { :message => @message } %>
		</section>
		
		
	</div>
</div>