<div class="grid_12 alpha omega blue box" id="blog">
<div class="extra-padding">
	
<% @events = Event.all.to_a %>
<% @events.each do |event| %>
<article class="upcoming-event">
<h1><%= link_to event.title, event.url %></h1>
<p>LOCATION: <% if event.location != '' %> <%= event.location %> <% else %> TBD <% end %><br />
DATE: <%= event.datetime %></p>

<h2 class="right"><%= link_to "LEARN MORE >>", event.url, :class => "action-button yellow" %></h2>
</article>
<div class="clearfix"></div>
<br />
<% end %>

</div>
</div>