<section id="get-involved" class="grid_12 alpha omega blue box">
<div class=" extra-padding">

<h1>How to get involved</h1>
<br />
<article id="facebook" class="grid_4 alpha">
	<p class="text-center"><a href="https://www.facebook.com/BostonVolunteers" target="_blank"><%= image_tag "facebook-lrg.png" %></a></p>
	
	<p class="text-center"><a href="https://www.facebook.com/BostonVolunteers" target="_blank">The Boston Volunteers have a vibrant community presence on facebook. Friend us today to get invitations to special events and more.</a></p>
</article>

<article id="twitter" class="grid_4">
	<p class="text-center"><a href="https://twitter.com/#!/BostonVolunteer" target="_blank"><%= image_tag "twitter-lrg.png" %></a></p>
	
	<p class="text-center"><a href="https://twitter.com/#!/BostonVolunteer" target="_blank">Follow us on twitter!</a></p>
</article>

<article id="meetup" class="grid_4 omega">
  
	<p class="text-center"><a href="http://www.bostonvolunteer.org/" target="_blank"><%= image_tag "meetup-lrg.png" %></a></p>	
	<p class="text-center">With a different meetup almost every day, and more on the weekends, anyone can find a way to both help their community and have fun doing something they enjoy. The Boston Volunteers meetup has 4,000 members, find friends who like to help as much as you do!</p>
	
	<h2><a href="http://www.bostonvolunteer.org/events/calendar/" target="_blank" class="action-button yellow">Calendar >></a></h2>
	
</article>

<div class="clearfix"></div>

</div>
</section>